<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teacher Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
</head>

<body>
    <div class="container" style="padding-top: 80px;">
        <div class="panel panel-default" style="padding: 30px;">
            <h2>Teacher Home</h2>
            <p>Trang nay la giao dien co ban cho giao vien.</p>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</body>

</html>
